
        html {
            font-family: sans-serif;
            height: 100%;
            text-align: leftwards;
            width: 100%;
        }
		
@media (min-width:800px) and (max-width: 880px) {
  html { background:  #66cc00; }
}
     
{
    .born{
	
		
	}
}	
	

		.live{
		
		
	}
}
	.school{
		
	}
	   
	.work{
		
	}
	   
	.ski{
		
	}
